[Unit]
Description=Acrome Delta Robot API Service
After=network.target

[Service]
Type=simple
# Eger Raspberry'deki kullanici adiniz 'pi' degilse (ornek: 'acrome' vs) asagidaki 'pi' yazan yerleri degistirin.
User=pi
# API klasorunu Raspberry'de nereye kopyaladiysaniz o yolu yazin: (Ornekte Masaustu/API varsayilmistir)
WorkingDirectory=/home/pi/Desktop/API
ExecStart=/home/pi/Desktop/API/venv/bin/python3 /home/pi/Desktop/API/app.py

# Uygulama cokerse veya manuel kapatilirsa 5 saniye bekle ve YENIDEN BASLAT
Restart=always
RestartSec=5

# Flask ortam degiskenleri
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
